
.pre{
    display: flex;
    flex-direction: column;
}

#sample{
    margin-right: 4rem;
    margin-left: 4rem;
    background-color: #FFFF;
    width: 464px;
    overflow-y: scroll;    
}
.pdf_Header{
    display: flex;
}
.name{
    font-size:6px;
    font-weight: 600;
    font-family: Brush Script MT;
    letter-spacing: 2px;
    color: gold;
    margin-top: -4px;
    margin-left: 15px;
}
.details{
    font-size: 8px;
    letter-spacing: 0.2px;
    font-family: monospace;
}
.details1{
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: monospace;
    border-bottom: 1px dashed;

}
.underline{
    border-bottom: 0.2px dashed rgb(134, 130, 130);
}
.destination_details{
    display: flex;
    justify-content: space-between;
}
.Itinerary
{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
    font-family: Arial;
}
.pdfImg{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.day_{
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
}
.travel_info{
    display: flex;
    justify-content: space-evenly;
    width: 12rem;
    align-items: center;
}
.parallel{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-bottom: 0.2px dashed;
}
.travel_info1{
    display: flex;
    justify-content: space-evenly;
    width: 8rem;
    align-items: center;
    font-weight: 600;

}
.night_details{
    border-bottom: 0.2px dashed;
}
.download_button{
    width: 6rem;
    height: 2rem;
    background-color: rgb(156, 156, 227);
    border-radius: 1rem;
    margin: 2rem;
    margin-left: 4rem;
}
.download_button:hover{
    background-color: rgb(85, 225, 85);
    cursor: pointer;
}
.inclusion{
    margin-bottom: -0.4rem;
}
.comments_{
    margin-bottom: -0.7rem;
    /* border-bottom: 1px  solid black; */
}
.small_line{
    width: 9rem;
    height: 0.01rem;
    background-color: black;
    margin-top: -0.7rem;

}