.fullContainer{
    width: 99%;
    height: 15rem;
    /* background-color: blueviolet; */
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0.2rem solid #56c2c4;
    border-radius: 0.5rem;
}
.compo_header{
    /* margin-top: -1rem; */
    width: 100%;
    height: 3rem;
    background: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    text-decoration: underline!important;
    font-weight: 500;
}
.compo_button{
    text-align: right;
    position: relative;
    background: none repeat scroll 0 0 #fe7774;
    border: 0;
    color: #fff;
    padding: 2px 10px;
    cursor: pointer;
}
.compo_details{
    display: flex;
    justify-content: space-between;
}
.item1{
    font-size: 12px;
    line-height: 16px;
}
.line1{
    height: 4rem;
    display: flex;
    justify-content: space-between;
}
.line2{
    margin-top: -0.8rem ;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}
.leftDiv{
    width: 50%;
    height: 10rem;
    /* background-color: #fe7774; */
}
.line{
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background-color: black;
}
.verticle_line{
    height: 100%;
    margin-top: 1rem;
    width: 1px;
    background-color: black;
}
.right{
    width: 48%;
    float: left;
}
.line1_right{
    margin: 2rem;
}
.traveller_details{
    display: flex;
    align-items: center;

}
.no_data{
    background-image: url("https://i.pinimg.com/originals/49/e5/8d/49e58d5922019b8ec4642a2e2b9291c2.png");
    height: 35rem;
    background-repeat: no-repeat;
}